<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="readyTodo">
                <p>待辦事項</p>
                <input type="text" placeholder="準備要做的任務" v-model="task">
                <button type="button" @click="add">新增</button>
            </div>
            <div class="todoList">
                <ul>
                    <li v-for="item in filterTodo" :key="item.id">
                        <div class="left">
                            <input type="checkbox" @click="item.completed = !item.completed" :checked="item.completed">
                            <label for="#" :class="item.completed ? 'completed':''">{{ item.task }}</label>
                        </div>
                        <i class="fa-solid fa-xmark" @click="deleteTask(item)"></i>
                    </li>
                </ul>
                <div class="bottom">
                    <p>全部有 {{ quantity }} 筆任務</p>
                    <div class="check">
                        <a href="#" @click.prevent="visibility = 'all'">全部</a>
                        <a href="#" @click.prevent="visibility = 'active'">未完成</a>
                        <a href="#" @click.prevent="visibility = 'completed'">已完成</a>
                        <a href="#" @click.prevent="removeAll">清除所有任務</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
   
    <script src="https://kit.fontawesome.com/5ed6520c8d.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = {
            data() {
                return {
                    list: [],
                    task: '',
                    quantity: 0,
                    visibility: 'all',
                }
            },
            methods: {
                add() {
                    this.list.push({
                        id: this.list.length + 1,
                        task: this.task,
                        completed: false,
                    });
                    this.quantity ++;
                    this.task = '';
                },
                deleteTask(item) {
                   let index = this.list.findIndex(obj => obj.id === item.id);
                   this.list.splice(index, 1);
                   this.quantity --;
                },
                removeAll() {
                    this.list = [];
                    this.quantity = 0;
                }
            },
            computed: {
                filterTodo() {
                    switch (this.visibility){
                        case 'active':
                            return this.list.filter((item) => !item.completed);
                        case 'completed':
                            return this.list.filter((item) => item.completed);
                        default:
                            return this.list;
                    }
                }
            },
            mounted() {
            }
        }

        Vue.createApp(app).mount('#app');
    </script>
</body>
</html>